html {
    scroll-behavior: smooth;
}
head {
    text-align: left;
}
html::-webkit-scrollbar {
    width: 0px;
}
body {
    background-image: url(https://i.pinimg.com/originals/f3/e9/c7/f3e9c7c2f747cb98d9784ef4d38a6c3f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   }
h1 {
    font-family: Helvetica;
    text-align: center;
    text-decoration: none;
    display: center;
    color: white;
}
.namabesar{
    font-size: 60px;
    font-weight: bold;
    position: sticky;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
nav {
    background-color: rgba(0,0,0,0.4);
    height: 80px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px;
    text-align: center;
    border: 2px;
    border-radius: 20px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}
nav ul li a{
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0px 8px 0px 8px;
    text-decoration: none;
}
a.tbl-grey{
    background: grey;
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFF;
    cursor: pointer;
    font-weight: bold;
}
a.tbl-grey:hover {
    background: black;
}
.wrapper {
    width: 600px;
    margin: auto;
    position: relative;
}
.wrapper li a:hover{
    color: #b9b9b9;
}
.menu {
    float:right;
}

p {
    font-family: Helvetica;
    font-size: 20px;
    text-align: center;
    color:black;
}

table {
    align-items: center;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    align-items: center;
    color: white;
    background-color: transparent;
    transition: width 0.4s ease-in-out;
    border: none;
    border-bottom: 2px solid green;
}
input[type=text]:focus {
    width: 90%;
}   
.main {
    background-color: rgba(0,0,0,0.4);
    height: 400px;
    width: 400px;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    text-align: center;
    border: 1px;
    border-radius: 20px;
}

.ngobrol {
    background-color: rgba(0,0,0,0.4);
    height: 200px;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    text-align: center;
    border: 2px;
    border-radius: 20px;
}

.tabel {
    background-color: rgba(0,0,0,0.4);
    height: 1000px;
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
    border: 2px;
    border-radius: 20px;
}
.main p {
    text-align: justify;
    color: white;
    font-family: Helvetica;
    font-size: 25px;
}
.main h1{
    text-align: center;
    color: white;
    font-family: Helvetica;
    font-size: 35px;
}
.link {
    color: aqua;
}
.link a:hover, :active{
    color: white;
}
footer {
    background-color: rgba(0,0,0,0.4);
    height: 160px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px;
    text-align: center;
    border: 2px;
    border-radius: 20px;
}
footer ul li {
    float: left;
    list-style-type: none;
}
footer ul li a{
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
}
.footerbesar {
    font-size: 60px;
    font-weight: bold;
    position: sticky;
    float: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
