html {
    scroll-behavior: smooth;
}
body {
    background-image: url(background2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: none;
    padding: none;
}

.logo{
    font-size: 60px;
    float: left;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:yellow;
}
.menunav {
    float: right;
}
.menunav h1 {
    font-family: Helvetica;
    text-decoration: none;
    color: white;
    padding-top: 20px;
}
.navi{
    background-attachment: fixed;
    width: 100%;
    margin:initial;
    display: flex;
    line-height: 40px;
    position: sticky;
    position: -webkit-sticky;
}
.navi ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navi ul li{
    float: left;
}

.navi ul li a{
    color: white;
    text-align: right;
    font-weight: bold;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
}
.navi ul li a:hover{
    text-decoration: underline;
}
.navi ul li .dropdownbar .dropbtn { 
    padding-top: 10px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navi ul li .dropdownbar-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width: 120px;
}
.navi ul li .dropdownbar-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}
.navi ul li .dropdownbar-content a:hover {
    color: black;
}
.navi ul li .dropdownbar:hover .dropdownbar-content {
    display: block;
}
.wrap-upper{
    width: 1100px;
    height: 100px;
    margin: auto;
    position: relative;
}
.main {
    background-image: url(kitasiapa54.png);
    background-repeat: no-repeat;
    height: 540px;
    width: 540px;
    margin:auto;
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 30px;
    text-align: center;
    border: 1px;
    border-radius: 20px;
}
.main p {
    text-align: center;
    color: white;
    font-family: Helvetica;
    font-size: 25px;
}
.main h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    font-family: Helvetica;
    font-size: 30px;
}
footer {
    background-image: url(abu.jpg);
    height: 160px;
    width: 600px;
    position: fixed;
}
.button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(145, 92, 182);
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  
  .glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }
