html {
    scroll-behavior: smooth;
}
head {
    text-align: left;
}
html::-webkit-scrollbar {
    width: 0px;
}
body {
    background-image: url(https://wallpaperaccess.com/full/137822.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   }
h1 {
    font-family: Helvetica;
    text-align: center;
    text-decoration: none;
    display: center;
    color: white;
}
.namabesar{
    font-size: 60px;
    font-weight: bold;
    position: sticky;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
nav {
    height: 80px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
nav ul li a{
    color: white;
    font-weight: bold;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}
.hover_effect {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;
  position: relative;
  z-index: 3;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-touch-callout: none;  
}

.hover_effect:after {
  content: "";
  height: 5px;
  left: 0;
  bottom: -5px;
  width: 1px;
  position: absolute;
  -webkit-transition: width 0.5s ease, background-color 0.5s ease;
  -moz-transition: width 0.5s ease, background-color 0.5s ease;;
  -ms-transition: width 0.5s ease, background-color 0.5s ease;;
  -o-transition: width 0.5s ease, background-color 0.5s ease;;
  transition: width 0.5s ease, background-color 0.5s ease;;
  right: 0;
  margin: 0 auto;
}

.hover_effect:hover {
  color: yellow;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  cursor: pointer;
}

.hover_effect:hover:after, 
.hover_effect:focus:after{
  width: 80%;
  background-color: yellow;
}
a.tbl-grey{
    background: grey;
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFF;
    cursor: pointer;
    font-weight: bold;
}
a.tbl-grey:hover {
    background: black;
}
.wrapper {
    width: 80vw;
    margin: auto;
    position: relative;
}
.wrapper li a:hover{
    color: #b9b9b9;
}
.menu {
    float:right;
}

p {
    font-family: Helvetica;
    font-size: 20px;
    text-align: center;
    color:black;
}

table {
    align-items: center;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    align-items: center;
    color: white;
    background-color: transparent;
    transition: width 0.4s ease-in-out;
    border: none;
    border-bottom: 2px solid green;
}
input[type=text]:focus {
    width: 90%;
}   
.main {
    background-color: rgba(0,0,0,0.4);
    height: 400px;
    width: 400px;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    text-align: center;
    border: 1px;
    border-radius: 20px;
}

.ngobrol {
    background-color: rgba(0,0,0,0.4);
    height: 200px;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    text-align: center;
    border: 2px;
    border-radius: 20px;
}

.tabel {
    background-color: rgba(0,0,0,0.4);
    height: 1000px;
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
    border: 2px;
    border-radius: 20px;
}
.main p {
    text-align: justify;
    color: white;
    font-family: Helvetica;
    font-size: 25px;
}
.main h1{
    text-align: center;
    color: white;
    font-family: Helvetica;
    font-size: 35px;
}
.link {
    color: aqua;
}
.link a:hover, :active{
    color: white;
}
footer {
    height: 160px;
    width: 600px;
}
footer ul {
    margin: 0;
    padding-top: 30px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
  
footer ul li {
    list-style: none;
    margin: 0 15px;
}
  
footer ul li a {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background:  rgba(0,0,0,0.4);
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }
  
footer ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
footer ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px blue;
  }
  
footer ul li a:hover {
    color: blue;
    box-shadow: 0 0 5px blue;
    text-shadow: 0 0 5px blue;
  }
footer ul li a img {
    padding-top: 15px;
}